<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE</title>
    <link rel="stylesheet" type="text/css" href="../styles/main-style.css">
    <script src="../js/functions.js" type="text/javascript" defer></script>
    <script src="../js/api.js" type="text/javascript" defer></script>
    <script src="../js/menu.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>

    <!-- <link rel="stylesheet" type="text/css" href="######.css">
    <script src="######.js" type="text/javascript" defer></script> -->
</head>

<body>
    <header>
        <button id="nav-open-btn">
            <div></div>
            <div></div>
            <div></div>
        </button>
        <nav id="nav"></nav>
    </header>
    <div class="content-container">
    </div>
    <footer>
    </footer>
</body>

</html>