.drag-drop-target {
    width: 100%;
    height: 10px;
    /* background-color: transparent; */
    /* border: 1px solid var(--main-text-col); */
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--shadow-col);
}

.drag-drop-target.dragover {
    transition: 0.5s;
    background-color: rgba(90, 90, 255, 0.3);
    height: 35px;
}

.drag-drop-target::after {
    content: ' ';
    font-size: 10px;
    transition: 1s;
}

.drag-drop-target.dragover::after {
    font-size: 12px;
}

.post-element {
    min-height: 25px;
}

.element-inputs {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.input-textarea {
    padding: 5px;
    background-color: transparent;
    min-width: 100%;
    max-width: 100%;
    font-size: 18px;
    color: var(--main-text-col);
}

.element-inputs .flex-container {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.input-textbox {
    padding: 5px;
    border: 1px solid var(--main-text-col);
    border-radius: 5px;
    background-color: transparent;
    flex: 3;
    font-size: 18px;
    color: var(--main-text-col);
}

.main-title-input {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    /* border-left: 10px solid black; */
    -webkit-tap-highlight-color: transparent;
    padding: 5px;
    color: var(--main-text-col);
}

.element-preview {
    position: relative;
    font-size: 18px;
}

.edit-btn-style,
.delete-btn-style {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--main-text-col);
    background-color: var(--content-container-bg-col);
}

.element-preview p {
    margin-bottom: 10px;
}

.switch-elements-btn-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--shadow-col);
    margin-top: 5px;
    margin-bottom: 5px;
}

.switch-elements-btn {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 20px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--main-text-col);
}

.show-tutorial-link {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
