#profile-info-section {
    margin-bottom: 20px;
}

#display-name-input {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 2em;
    border: 1px solid var(--lighter-dark);
    border-radius: 2px;
}

#username-input {
    background-color: transparent;
    border: none;
    font-size: 12px;
    opacity: 0.5;
    border: 1px solid var(--lighter-dark);
    border-radius: 2px;
}

#username-input-at-symbol {
    font-size: 12px;
    opacity: 0.5;
}

#description-input {
    border: none;
    background-color: transparent;
    font-size: 1em;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid var(--lighter-dark);
    border-radius: 2px;
}

.headline-and-profile-pic-container {
    display: flex;
    flex-direction: row;
}

.profile-pic {
    overflow: hidden;
    font-family: monospace;
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    margin-right: 10px;
}